Repository reznakt/svglab: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format, versioncheck, licensecheck, typecheck, test

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: trailing-whitespace
  - repo: https://github.com/python-poetry/poetry
    rev: 2.1.3
    hooks:
      - id: poetry-check
        args: ["--lock"]
      - id: poetry-install
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: poe lint-fix
        language: system
        types: [python]
        pass_filenames: false
      - id: format
        name: format
        entry: poe format-fix
        language: system
        types: [python]
        pass_filenames: false
      - id: versioncheck
        name: versioncheck
        entry: poe versioncheck
        language: system
        types: [python]
        pass_filenames: false
      - id: licensecheck
        name: licensecheck
        entry: poe licensecheck
        language: system
        files: ^pyproject\.toml|poetry\.lock$
        pass_filenames: false
      - id: typecheck
        name: typecheck
        entry: poe typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: test
        name: test
        entry: poe test
        language: system
        types: [python]
        pass_filenames: false

Fix paint-order refusing the sequence of keywords it names
  svglab/attrs/attrdefs.py
  tests/regression/test_paint_order_sequence.py
Due: lint, format, versioncheck, typecheck, test

Fix a prefix attribute being taken as the element's namespace
  svglab/entities.py
  svglab/parse.py
  tests/regression/test_rdfa_prefix_attribute.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Fix the version attribute refusing numbers such as 1
  svglab/attrs/attrdefs.py
  tests/regression/test_version_number.py
Due: lint, format, versioncheck, typecheck, test

Add a lenient mode that drops what it cannot read
  svglab/parse.py
  tests/regression/test_lenient_parsing.py
Due: lint, format, versioncheck, typecheck, test

Relax speculative upper bounds on runtime dependencies
  pyproject.toml
  uv.lock
Due: licensecheck

Make html5lib an optional dependency
  README.md
  docs/getting-started/installation.md
  pyproject.toml
  svglab/parse.py
  uv.lock
Due: lint, format, versioncheck, licensecheck, typecheck, test

Remove the unused uritools dependency
  pyproject.toml
  uv.lock
Due: licensecheck

Fix invalid element creation example in the quickstart
  docs/getting-started/quickstart.md
Due: none

Raise a helpful error when the html5lib extra is missing
  svglab/parse.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Restrict the sdist to the package and tests
  pyproject.toml
Due: licensecheck

Improve the README and the project description
  README.md
  assets/wordmark-dark.svg
  assets/wordmark-light.svg
  properdocs.yml
  pyproject.toml
  svglab/__init__.py
Due: lint, format, versioncheck, licensecheck, typecheck, test

Add a citation file
  CITATION.cff
Due: none

Stamp the sitemap with the commit date instead of the Nix epoch
  justfile
Due: none

Fix small inconsistencies in the utility modules
  svglab/protocols.py
  svglab/serialize.py
  svglab/utils/iterutils.py
  svglab/utils/mathutils.py
Due: lint, format, versioncheck, typecheck, test

Fix small errors in docstrings
  svglab/elements/names.py
  svglab/models.py
  svglab/utils/iterutils.py
  svglab/utils/mathutils.py
Due: lint, format, versioncheck, typecheck, test

Indent docstring sections so they render as structured API docs
  svglab/attrparse/path_data.py
  svglab/attrparse/point.py
  svglab/attrparse/transform.py
  svglab/elements/elements.py
  svglab/elements/names.py
  svglab/entities.py
  svglab/graphics.py
  svglab/parse.py
  svglab/serialize.py
  svglab/utils/miscutils.py
Due: lint, format, versioncheck, typecheck, test

Find the copied element through the deepcopy memo instead of stamping an id
  src/svglab/graphics.py
Due: lint, format, versioncheck, typecheck, test

Skip the font-dependent render tests when the host has no font
  tests/test_resvg.py
Due: lint, format, versioncheck, typecheck, test

Release the GIL while loading fonts and cache the derived database
  src/svglab-resvg/src/fonts.rs
  src/svglab-resvg/src/lib.rs
Due: none

Reject non-finite numbers in the render options
  src/svglab/resvg.py
Due: lint, format, versioncheck, typecheck, test

Fall back to an available font family when the system serif is missing
  src/svglab-resvg/src/fonts.rs
  src/svglab-resvg/src/lib.rs
Due: none

Preserve errno and filename when a font file cannot be read
  src/svglab-resvg/src/errors.rs
  src/svglab-resvg/src/fonts.rs
Due: none

Route the remaining pre-commit hooks through just
  .pre-commit-config.yaml
Due: none

Resolve the default font family through the system serif family
  src/svglab-resvg/src/lib.rs
  src/svglab/_resvg.pyi
  src/svglab/resvg.py
  tests/test_resvg.py
Due: lint, format, versioncheck, typecheck, test

Take the distribution version from pyproject.toml instead of the crate
  .github/actions/stamp-version/action.yml
  .github/workflows/publish-pypi.yml
  pyproject.toml
  src/svglab-resvg/Cargo.lock
  src/svglab-resvg/Cargo.toml
  uv.lock
Due: licensecheck

Drop the unused arbitrary_types_allowed from the render options
  src/svglab/resvg.py
Due: lint, format, versioncheck, typecheck, test

Point generic font families at an installed font when the system does not
  src/svglab-resvg/src/fonts.rs
  src/svglab-resvg/src/lib.rs
Due: none

Set the release version with uv instead of editing pyproject.toml by hand
  .github/workflows/publish-pypi.yml
Due: none

Update the SVG element protocol to the current render signature
  src/svglab/graphics.py
Due: lint, format, versioncheck, typecheck, test

Parse the rendering modes through usvg's own FromStr implementations
  src/svglab-resvg/src/lib.rs
  src/svglab-resvg/src/parse.rs
Due: none

Build free-threaded wheels for CPython 3.14t
  .github/workflows/publish-pypi.yml
Due: none

Default the render options with a ternary like the rest of the codebase
  src/svglab/resvg.py
Due: lint, format, versioncheck, typecheck, test

Drop the buffer sharing note from the render return value
  src/svglab/resvg.py
Due: lint, format, versioncheck, typecheck, test

Render both visibility variants from a single tree copy
  src/svglab/graphics.py
Due: lint, format, versioncheck, typecheck, test

Inline the rendering mode parser into the module that uses it
  src/svglab-resvg/src/lib.rs
  src/svglab-resvg/src/parse.rs
Due: none

Build the free-threaded wheels from the same matrix as the abi3 wheels
  .github/workflows/publish-pypi.yml
Due: none

Reuse one default RenderOptions instead of building one per render
  src/svglab/resvg.py
Due: lint, format, versioncheck, typecheck, test

Key the cargo cache on the toolchain and save it from one job only
  .github/workflows/check.yml
Due: none

Probe for a usable system font in a fixture instead of at collection time
  tests/test_resvg.py
Due: lint, format, versioncheck, typecheck, test
