Repository reznakt/svglab: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format, versioncheck, licensecheck, typecheck, test

lint:
  name: lint
  entry: poe lint-fix
  language: system
  pass_filenames: false

format:
  name: format
  entry: poe format-fix
  language: system
  pass_filenames: false

versioncheck:
  name: versioncheck
  entry: poe versioncheck
  language: system
  pass_filenames: false

licensecheck:
  name: licensecheck
  entry: poe licensecheck
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: poe typecheck
  language: system
  pass_filenames: false

test:
  name: test
  entry: poe test
  language: system
  pass_filenames: false

Add development status classifier
  pyproject.toml
Due: licensecheck

Add results
  good_size.csv
  perf.csv
  perf_measure.ipynb
  raw.csv
  sampled.csv
Due: none

Fix copy_tree() and visibility setting for mask generation
  svglab/graphics.py
Due: lint, format, versioncheck, typecheck, test

Fix float overflow when parsing large values
  svglab/attrparse/angle.py
  svglab/attrparse/length.py
  svglab/attrparse/parse.py
  svglab/attrparse/path_data.py
  svglab/attrparse/point.py
  svglab/attrparse/points.py
  svglab/attrparse/transform.py
  svglab/attrs/typedefs.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Add license scan report and status
  README.md
Due: none

Add devcontainer setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .vscode/settings.json
  poetry.toml
Due: none

Add PathData.subpaths()
  svglab/attrparse/path_data.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Fix end point calculation for closepath commands
  svglab/attrparse/path_data.py
Due: lint, format, versioncheck, typecheck, test

Remove pre-commit from poetry
  poetry.lock
  pyproject.toml
Due: licensecheck

Fix EditorConfig configuration
  .devcontainer/devcontainer.json
  .editorconfig
Due: none

Optimize visible mask/bbox generation with concurrent rendering
  svglab/graphics.py
Due: lint, format, versioncheck, typecheck, test

Make entities hashable
  svglab/attrparse/path_data.py
  svglab/attrparse/point.py
  svglab/attrparse/transform.py
  svglab/entities.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Update dependencies
  poetry.lock
  pyproject.toml
Due: licensecheck

Update resvg-py
  poetry.lock
  svglab/graphics.py
Due: lint, format, versioncheck, licensecheck, typecheck, test

Make color attribute accept currentColor
  svglab/attrs/attrdefs.py
Due: lint, format, versioncheck, typecheck, test

Allow empty lists for attributes 'points' and 'transform'
  svglab/attrparse/grammars/points.lark
  svglab/attrparse/grammars/transform.lark
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Allow commands other than moveto after closepath
  svglab/attrparse/path_data.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Revert "Add PathData.subpaths()"
  svglab/attrparse/path_data.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Update lxml to major version 6
  poetry.lock
  pyproject.toml
Due: licensecheck

Expose resvg_py options in Svg.render()
  svglab/elements/elements.py
  svglab/graphics.py
Due: lint, format, versioncheck, typecheck, test

Change behavior in case of aspect ratio mismatch
  docs/attributes.md
  docs/elements.md
  docs/index.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  svglab/elements/svg.py
Due: lint, format, versioncheck, licensecheck, typecheck, test

Fix builds
  docs/attributes.md
  docs/elements.md
  mkdocs.yml
Due: none

Ignore cache directory
  .gitignore
Due: none

Ignore site directory
  .gitignore
Due: none

Add tasks for building docs
  .vscode/tasks.json
  pyproject.toml
Due: licensecheck

Set up readthedocs; update config
  .pre-commit-config.yaml
  .readthedocs.yaml
  docs/attributes.md
  docs/elements.md
  docs/js/keybinds.js
  docs/js/readthedocs.js
  docs/overrides/main.html
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: licensecheck

Fix build
  .readthedocs.yaml
  docs/assets/logo.svg
  docs/js/readthedocs.js
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: licensecheck

Add API reference
  docs/attribute-groups.md
  docs/attributes.md
  docs/elements.md
  docs/traits.md
Due: none

Add description
  mkdocs.yml
Due: none

Improve docs
  docs/css/mathjax.css
  docs/js/mathjax.js
  mkdocs.yml
Due: none

Add more content; improve config
  .devcontainer/Dockerfile
  docs/api-reference/attribute-groups.md
  docs/api-reference/attributes.md
  docs/api-reference/elements.md
  docs/api-reference/traits.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/overrides/home.html
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: licensecheck

Forbid extra arguments in all dataclasses
  svglab/attrparse/angle.py
  svglab/attrparse/iri.py
  svglab/attrparse/length.py
  svglab/attrparse/path_data.py
  svglab/attrparse/point.py
  svglab/attrparse/transform.py
  svglab/models.py
  svglab/serialize.py
Due: lint, format, versioncheck, typecheck, test

Move Formatter attribute documentation from class docstring to attribute docstrings
  svglab/serialize.py
Due: lint, format, versioncheck, typecheck, test

Reformat docstring
  svglab/serialize.py
Due: lint, format, versioncheck, typecheck, test

Use an object iterable instead of mapping for precision table
  svglab/__init__.py
  svglab/serialize.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Disable Pydantic strict mode for Formatter and related models
  svglab/serialize.py
Due: lint, format, versioncheck, typecheck, test

Escape regular expressions in pytest.raises()
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Add redhat.vscode-yaml to devcontainer extension list
  .devcontainer/devcontainer.json
Due: none

Add zsh config, remove .gitconfig bind in devcontainer config
  .devcontainer/devcontainer.json
Due: none

Remove maintenance badge from README
  README.md
Due: none

Path conditions:
  lint: any of: \.py$
  format: any of: \.py$
  versioncheck: any of: \.py$
  licensecheck: any of: ^pyproject\.toml|poetry\.lock$
  typecheck: any of: \.py$
  test: any of: \.py$
