Repository reznakt/svglab: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format, versioncheck, licensecheck, typecheck, test

lint:
  name: lint
  entry: poe lint-fix
  language: system
  pass_filenames: false

format:
  name: format
  entry: poe format-fix
  language: system
  pass_filenames: false

versioncheck:
  name: versioncheck
  entry: poe versioncheck
  language: system
  pass_filenames: false

licensecheck:
  name: licensecheck
  entry: poe licensecheck
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: poe typecheck
  language: system
  pass_filenames: false

test:
  name: test
  entry: poe test
  language: system
  pass_filenames: false

Update dependencies
  poetry.lock
  pyproject.toml
  svglab/attrparse/angle.py
  svglab/attrparse/iri.py
  svglab/attrparse/length.py
  svglab/attrparse/path_data.py
  svglab/attrparse/point.py
  svglab/attrparse/transform.py
  svglab/models.py
  svglab/serialize.py
Due: lint, format, versioncheck, licensecheck, typecheck, test

Fix pre-commit hooks in devcontainer
  .devcontainer/Dockerfile
Due: none

Fix formatting
  svglab/attrparse/angle.py
  svglab/attrparse/iri.py
  svglab/attrparse/length.py
  svglab/attrparse/point.py
  svglab/attrparse/transform.py
Due: lint, format, versioncheck, typecheck, test

Add readthedocs setup
  .devcontainer/Dockerfile
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  .vscode/tasks.json
  docs/api-reference/attribute-groups.md
  docs/api-reference/attributes.md
  docs/api-reference/elements.md
  docs/api-reference/traits.md
  docs/assets/logo.svg
  docs/css/mathjax.css
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/js/keybinds.js
  docs/js/mathjax.js
  docs/overrides/home.html
  docs/overrides/main.html
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: licensecheck

Replace remaining old usages of 'D' with 'PathData'
  README.md
  svglab/attrparse/path_data.py
  svglab/elements/elements.py
Due: lint, format, versioncheck, typecheck, test

Replace external logo URL with internal reference
  README.md
  assets/logo.svg
  docs/assets/logo.svg
Due: none

Add support for parsing directly from a path
  svglab/parse.py
  tests/assets/dummy.svg
  tests/conftest.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Use absolute URLs for the logo
  README.md
  docs/assets/logo.svg
  mkdocs.yml
Due: none

Use a contextvar instead of global variable for the current formatter
  svglab/serialize.py
Due: lint, format, versioncheck, typecheck, test

Unify names of type variables
  svglab/entities.py
Due: lint, format, versioncheck, typecheck, test

Refactor devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Fix docs logo URL
  mkdocs.yml
Due: none

Add missing docs assets symlink
  docs/assets
  mkdocs.yml
Due: none

Fix get started button
  docs/overrides/home.html
  mkdocs.yml
Due: none

Fix documentation icon loading
  docs/overrides/home.html
Due: none

Change dependency status badge to GitHub source
  README.md
Due: none

Remove redundant badges from README.md
  README.md
Due: none

Switch from readthedocs to github pages
  .github/workflows/docs.yml
  .readthedocs.yaml
  mkdocs.yml
Due: none

Upgrade ruff, add to docs group
  poetry.lock
  pyproject.toml
  svglab/entities.py
  svglab/serialize.py
Due: lint, format, versioncheck, licensecheck, typecheck, test

Remove GitHub repo size badge
  README.md
Due: none

Fix YAML linting errors
  .vscode/settings.json
Due: none

Improve docs with insiders features, update docs URL
  .devcontainer/devcontainer.json
  mkdocs.yml
Due: none

Fix docs build
  .github/workflows/docs.yml
Due: none

Remove readthedocs meta
  docs/overrides/main.html
Due: none

Simplify docs
  README.md
  docs/user-guide/elements.md
  docs/user-guide/graphics.md
  docs/user-guide/parsing.md
  docs/user-guide/path-data.md
  docs/user-guide/transforms.md
Due: none

Extend docs
  docs/api-reference/attribute-groups.md
  docs/api-reference/attributes.md
  docs/api-reference/elements.md
  docs/api-reference/traits.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/overrides/home.html
  docs/overview.md
  docs/user-guide/attributes.md
  docs/user-guide/elements.md
  docs/user-guide/graphics.md
  docs/user-guide/parsing.md
  docs/user-guide/path-data.md
  docs/user-guide/serialization.md
  docs/user-guide/traits.md
  docs/user-guide/transforms.md
  mkdocs.yml
Due: none

Replace poetry with uv
  .devcontainer/devcontainer.json
  .envrc
  .github/dependabot.yml
  .github/workflows/check.yml
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  flake.lock
  flake.nix
  justfile
  poetry.lock
  poetry.toml
  pyproject.toml
  svglab/attrparse/transform.py
  uv.lock
Due: lint, format, versioncheck, licensecheck, typecheck, test

Apply suggestions from code review
  .github/workflows/check.yml
  .pre-commit-config.yaml
Due: none

Remove redundant extra_nix_config
  .github/workflows/check.yml
  .github/workflows/docs.yml
Due: none

Add docs as a default group
  pyproject.toml
Due: licensecheck

Add missing system runtime deps
  flake.nix
Due: none

Remove nix store cache
  .github/workflows/check.yml
  .github/workflows/docs.yml
Due: none

Rework dependency management and development environment (#83)
  .devcontainer/devcontainer.json
  .envrc
  .github/dependabot.yml
  .github/workflows/check.yml
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  flake.lock
  flake.nix
  justfile
  poetry.lock
  poetry.toml
  pyproject.toml
  svglab/attrparse/transform.py
  uv.lock
Due: lint, format, versioncheck, licensecheck, typecheck, test

Set up PyPI deployments using trusted publishing
  .github/workflows/publish-pypi.yml
Due: none

Remove affine dependency
  pyproject.toml
  svglab/__init__.py
  svglab/attrparse/point.py
  svglab/attrparse/transform.py
  svglab/utils/mathutils.py
  uv.lock
Due: lint, format, versioncheck, licensecheck, typecheck, test

Sort and group Element class members
  svglab/entities.py
Due: lint, format, versioncheck, typecheck, test

Fix conflicts in venv management between flake and vscode
  flake.nix
Due: none

Use properdocs instead of mkdocs
  justfile
  properdocs.yml
  pyproject.toml
  uv.lock
Due: licensecheck

Revert "Bump pygments from 2.19.2 to 2.20.0 (#86)". The update causes the docs building process to break.
  uv.lock
Due: none

Fix indentation in docstring
  svglab/attrparse/path_data.py
Due: lint, format, versioncheck, typecheck, test

Path conditions:
  lint: any of: \.py$
  format: any of: \.py$
  versioncheck: any of: \.py$
  licensecheck: any of: ^pyproject\.toml|poetry\.lock$
  typecheck: any of: \.py$
  test: any of: \.py$
