Repository reznakt/svglab: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format, versioncheck, licensecheck, typecheck, test

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: trailing-whitespace
  - repo: https://github.com/python-poetry/poetry
    rev: 2.1.3
    hooks:
      - id: poetry-check
        args: ["--lock"]
      - id: poetry-install
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: poe lint-fix
        language: system
        types: [python]
        pass_filenames: false
      - id: format
        name: format
        entry: poe format-fix
        language: system
        types: [python]
        pass_filenames: false
      - id: versioncheck
        name: versioncheck
        entry: poe versioncheck
        language: system
        types: [python]
        pass_filenames: false
      - id: licensecheck
        name: licensecheck
        entry: poe licensecheck
        language: system
        files: ^pyproject\.toml|poetry\.lock$
        pass_filenames: false
      - id: typecheck
        name: typecheck
        entry: poe typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: test
        name: test
        entry: poe test
        language: system
        types: [python]
        pass_filenames: false

Fix typos in docstrings
  svglab/attrparse/path_data.py
  svglab/attrparse/transform.py
  svglab/entities.py
Due: lint, format, versioncheck, typecheck, test

Run CI check job using multiple Python versions and resolution strategies
  .github/workflows/check.yml
Due: none

Add libxml2 and libxslt to flake
  flake.nix
Due: none

Relax runtime dependency constraints
  flake.nix
  pyproject.toml
  uv.lock
Due: licensecheck

Update matrix
  .github/workflows/check.yml
Due: none

Set higher numpy version
  pyproject.toml
  uv.lock
Due: licensecheck

Fix operation on closed file error on parse from file object
  svglab/parse.py
Due: lint, format, versioncheck, typecheck, test

Add more tests
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Add missing PyPI classifiers
  pyproject.toml
Due: licensecheck

Fix PyPi -> PyPI
  README.md
Due: none

Fix image scaling during render when target dimensions have different aspect ratio
  svglab/graphics.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Document _compute_render_size()
  svglab/graphics.py
Due: lint, format, versioncheck, typecheck, test

Fix content shift in set_viewbox() when viewBox is both offset and scaled
  svglab/elements/elements.py
  tests/test_main.py
Due: lint, format, versioncheck, typecheck, test

Disable docstring-related ruff rules in tests
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_main.py
Due: lint, format, versioncheck, licensecheck, typecheck, test

Add regression tests for set_viewbox() and render aspect-ratio fixes
  tests/regression/__init__.py
  tests/regression/test_render_size_aspect_ratio.py
  tests/regression/test_set_viewbox_translate.py
Due: lint, format, versioncheck, typecheck, test

Fix attribute sorting when pretty=False
  svglab/utils/bsutils.py
Due: lint, format, versioncheck, typecheck, test

Fix crash serializing unknown elements with standard attributes
  svglab/entities.py
  tests/regression/test_unknown_element_standard_named_attrs.py
Due: lint, format, versioncheck, typecheck, test

Remove obsolete indent parameters from to_xml() and save() docstrings
  svglab/elements/elements.py
  svglab/entities.py
Due: lint, format, versioncheck, typecheck, test

Fix lint and formatting errors from newly stabilized ruff 0.16 rules
  README.md
  pyproject.toml
  svglab/attrs/attrdefs.py
  tests/test_main.py
Due: lint, format, versioncheck, licensecheck, typecheck, test

Replace runtime-checkable Protocol isinstance checks in hot paths
  svglab/attrparse/path_data.py
  svglab/serialize.py
Due: lint, format, versioncheck, typecheck, test

Fix quadratic path data serialization caused by linear index lookup
  svglab/attrparse/path_data.py
Due: lint, format, versioncheck, typecheck, test

Avoid full model_dump() when collecting standard attributes
  svglab/entities.py
Due: lint, format, versioncheck, typecheck, test

Avoid pydantic signature inspection on every element instantiation
  svglab/entities.py
Due: lint, format, versioncheck, typecheck, test

Fix quadratic curve shorthand handling caused by linear index lookup
  svglab/attrparse/path_data.py
Due: lint, format, versioncheck, typecheck, test

Fix lost minus sign when serializing numbers in scientific notation
  svglab/serialize.py
  tests/regression/test_negative_scientific_notation.py
Due: lint, format, versioncheck, typecheck, test

Fix inverted conversion rate between centimeters and inches
  svglab/attrparse/length.py
  tests/regression/test_length_unit_conversion.py
Due: lint, format, versioncheck, typecheck, test

Fix arc end point not being rotated by a rotate transformation
  svglab/attrparse/path_data.py
  tests/regression/test_arc_transform.py
Due: lint, format, versioncheck, typecheck, test

Fix radial gradient focal point not being translated during reification
  svglab/entities.py
  tests/regression/test_gradient_focal_point_translate.py
Due: lint, format, versioncheck, typecheck, test

Fix emptied gradientTransform and patternTransform not being removed
  svglab/entities.py
  tests/regression/test_empty_gradient_transform.py
Due: lint, format, versioncheck, typecheck, test

Fix skew axis in LDU matrix decomposition when a is zero
  svglab/attrparse/transform.py
  tests/regression/test_matrix_decompose.py
Due: lint, format, versioncheck, typecheck, test

Fix arc sweep and orientation not being mirrored by a reflecting scale
  svglab/attrparse/path_data.py
  tests/regression/test_arc_transform.py
Due: lint, format, versioncheck, typecheck, test

Fix consecutive moveto commands being serialized as an implicit lineto
  svglab/attrparse/path_data.py
  tests/regression/test_consecutive_movetos.py
Due: lint, format, versioncheck, typecheck, test

Fix unsupported transformations being dropped during reification
  svglab/entities.py
  tests/regression/test_unsupported_transform_reify.py
Due: lint, format, versioncheck, typecheck, test

Fix parent transform being pushed into bounding box gradients
  svglab/entities.py
  tests/regression/test_bounding_box_gradient_reify.py
Due: lint, format, versioncheck, typecheck, test

Clamp rounded rectangle radii to half the width and height
  svglab/elements/elements.py
  tests/regression/test_rect_radii_clamping.py
Due: lint, format, versioncheck, typecheck, test

Fix rotation angle in QR matrix decomposition when the sine is zero
  svglab/attrparse/transform.py
  tests/regression/test_matrix_decompose.py
Due: lint, format, versioncheck, typecheck, test

Fix dx, dy and textLength not being scaled during reification
  svglab/entities.py
  tests/regression/test_text_scale.py
Due: lint, format, versioncheck, typecheck, test

Fix scale(sx, 0) being converted to a matrix as scale(sx, sx)
  svglab/attrparse/transform.py
Due: lint, format, versioncheck, typecheck, test

Fix shorthand line commands losing the current point when transformed
  svglab/attrparse/path_data.py
  tests/regression/test_shorthand_line_transform.py
Due: lint, format, versioncheck, typecheck, test

Remove dead code and unreachable defensive branches
  svglab/attrparse/parse.py
  svglab/attrparse/path_data.py
  svglab/attrparse/transform.py
  svglab/utils/mathutils.py
Due: lint, format, versioncheck, typecheck, test
