Repository reznakt/svglab: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format, versioncheck, licensecheck, typecheck, test

lint:
  name: lint
  entry: poe lint-fix
  language: system
  pass_filenames: false

format:
  name: format
  entry: poe format-fix
  language: system
  pass_filenames: false

versioncheck:
  name: versioncheck
  entry: poe versioncheck
  language: system
  pass_filenames: false

licensecheck:
  name: licensecheck
  entry: poe licensecheck
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: poe typecheck
  language: system
  pass_filenames: false

test:
  name: test
  entry: poe test
  language: system
  pass_filenames: false

Work out what a container can absorb from its children
  src/svglab/entities.py
  tests/conftest.py
  tests/regression/test_reify_nested_viewport.py
  tests/regression/test_reify_viewports.py
  tests/regression/test_unsupported_transform_reify.py
Due: lint, format, versioncheck, typecheck, test

Fix reify spelling out coordinates that stay at their default of zero
  src/svglab/reify.py
  tests/regression/test_reify_unset_coordinates.py
Due: lint, format, versioncheck, typecheck, test

Update the pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update the locked Python dependencies
  uv.lock
Due: none

Update the locked Rust dependencies
  src/svglab-resvg/Cargo.lock
Due: none

Update the flake inputs
  flake.lock
Due: none

Pin the GitHub Actions to commit SHAs and bump setup-uv to v10.2.0
  .github/workflows/check.yml
  .github/workflows/docs.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/svg-preview.yml
Due: none

Revert "Update the flake inputs"
  flake.lock
Due: none

Stop restoring cargo caches built against another flake.lock
  .github/workflows/check.yml
Due: none

Drop support for Python 3.10
  .github/workflows/check.yml
  README.md
  docs/getting-started/installation.md
  pyproject.toml
  src/svglab-resvg/Cargo.toml
  uv.lock
  vermin.ini
Due: licensecheck

Show the errors of failed threads in the formatter reentrancy test
  tests/regression/test_formatter_reentrancy.py
Due: lint, format, versioncheck, typecheck, test

Serialize negative zero without its sign
  src/svglab/serialize.py
  tests/regression/test_negative_zero.py
Due: lint, format, versioncheck, typecheck, test

Replace the fixed-size tuple aliases with a variadic one
  src/svglab/attrs/attrdefs.py
  src/svglab/attrs/typedefs.py
  src/svglab/models.py
Due: lint, format, versioncheck, typecheck, test

Path conditions:
  lint: any of: \.py$
  format: any of: \.py$
  versioncheck: any of: \.py$
  licensecheck: any of: ^pyproject\.toml|poetry\.lock$
  typecheck: any of: \.py$
  test: any of: \.py$
